:root {
    --color-orange: #ff765b;
    --color-orange-hover: #ff8d76;
    --color-yellow-light: #fffcf1;
    --color-border: #636363;
    --color-text: #4f6173;
    --color-text-hover: #999;
    --color-tag: #75808a;
    --color-tag-border: #d2dae2;
    --color-gray-hover: #ddd;
}